<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <form method="post" class="upsert-form alternate-action"  th:object="${creditor}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{id}"/>
        <div class="field-validation-error" th:errors="${creditor}"></div>
        <table th:attr="data-action=${type}">
            <tbody>
            <tr>
                <td><label>Username*</label></td>
                <td>
                    <input type="text" th:field="*{username}">
                    <div class="field-validation-error" th:errors="*{username}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Password*</label></td>
                <td>
                    <input type="password" th:field="*{password}">
                    <div class="field-validation-error" th:errors="*{password}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Password Confirmation*</label></td>
                <td>
                    <input type="password" th:field="*{passwordConfirmation}">
                    <div class="field-validation-error" th:errors="*{passwordConfirmation}"></div>
                </td>
            </tr>
            <tr>
                <td><label>First Name*</label></td>
                <td>
                    <input type="text" th:field="*{firstName}">
                    <div class="field-validation-error" th:errors="*{firstName}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Last Name</label></td>
                <td>
                    <input type="text" th:field="*{lastName}">
                    <div class="field-validation-error" th:errors="*{lastName}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Job Title</label></td>
                <td>
                    <input type="text" th:field="*{jobTitle}">
                    <div class="field-validation-error" th:errors="*{jobTitle}"></div>
                </td>
            </tr>
            <tr>
            <td class="textarea-label"><label>Address</label></td>
            <td>
                <textarea th:field="*{address}"></textarea>
                <div class="field-validation-error" th:errors="*{address}"></div>
            </td>
            </tr>

            </tbody>
        </table>
        <button class="blue-button" type="submit" th:text="${type} + ' Creditor'"></button>
        <button class="blue-button">
            <a th:href="@{/creditor/index}">Cancel</a>
        </button>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>